@charset "UTF-8";
::-webkit-scrollbar {
    display: none;
}
header {
	background-color: white;
	border-bottom: 1px solid #adabab;
}

header #header_content {
	width: 1000px;
	margin: 0 auto;
	padding: 15px 0;
	min-height: 90px;
	text-align: center;
}

header nav#gnb {
	display: inline-block;
}

header nav#gnb ul {
	padding: 0;
}

header nav#gnb li {
	padding: 15px;
	display: inline-block;
	font-size: 15px;
	display: inline-block;
}

header #main_link {
	display: inline-block;
	line-height: 80px;
}

header #main_link img {
	vertical-align: middle;
	padding: 0 15px;
	width: 80px;
}

header div#user_info {
	display: inline-block;
	font-size: 15px;
}

header div#user_info form .login {
	width: 100px;
}